<!doctype html>
<html data-ng-app="brewmmer">
<head>
	<title>Brewmmer</title>
</head>
<body>
	<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>

	<div data-ng-controller="LineCtrl">
		<canvas data-tc-chartjs data-chart-type="line" data-chart-options="options" data-chart-data="data" width="800" height="350"></canvas>
	</div> 

	<div data-ng-controller="LineCtrl">
		<ul>
			<li data-ng-repeat="temp in data.labels">
				{{temp}}
			</li>
		</ul>
	</div> 
	
	<div data-ng-controller="DataController">  
		{{hihi}}   
		<br>
		{{data}}
	</div>

<script src="lib/angular.min.js"></script>
<script src="lib/Chart.js"></script>
<script src="lib/tc-angular-chartjs.js"></script>

<script src="js/brewmmer.js"></script>
<script src="js/controllers.js"></script>
<script src="js/factories.js"></script>
</body>

</html>